/* Reset some default styles */

.App {
  background-color: black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* Set a dark background color for the entire page */
  color: white; /* Set text color to white */
}

/* Header Section Styles */
.header-section {
  padding: 1px 0;
  background-color: #4d4d4d;
}

.navbar {
  border-bottom: 5px solid orange;
  background-color: #4d4d4d; /* Update the navbar background color */
  box-shadow: 5px 10px 50pt rgba(14, 216, 179, 0.673);
}

.navbar-brand-img {
  max-height: 100px;
  display: flex;
}

.nav-link {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* About Section Styles */
.about-section {
  padding: 60px 0;
  background-color: #4d4d4d;
}

.about-body {
  background-color: black;
 
}

.about-card {
  border: none;
  background-color: black;
  box-shadow: 5px 3px 30px 25px rgba(14, 216, 179, 0.673);
  margin-top: 100px;
   border: 2pt solid orange;
}

.about-title {
  text-align: center;
  font-size: 36px;
  border-bottom: 1.8pt double rgba(87, 166, 208, 0.768);
}

.about-subtitle {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.dev-icon {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border: 1.88pt solid;
  border-radius: 100%;
}

/* Skills Section Styles */
.skills-section {
  padding: 60px 0;
  background-color: #4d4d4d; /* Update the background color */
}

.skill-container {
  width: 900px;
  text-align: center;
  background-color: black;
  border: 2pt solid orange;
  padding: 4%;
  box-shadow: 5px 3px 30px 25px rgba(14, 216, 179, 0.673);
  margin-top: 10px;
}

/* Education Section Styles */

.education-container {
  width: 750px;
  background-color: black;
  box-shadow: 5px 3px 30px 25px rgba(14, 216, 179, 0.673);
  border: 3pt solid orange;
  padding: 2%;
  margin-top: 20px;
}

.education-section {
  padding: 60px 0;
  background-color: #4d4d4d;
}

.education-title {
  text-align: center;
  font-size: 36px;
}

.education-icon {
  max-width: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.education-card {
  background-color: #333;
  border: 2pt solid rgb(117, 186, 238);
  width: auto;
  height: 360px;
  margin: 15pt;
}

.education-image {
  width: 100px;
  height: auto;
}

.card-title-black {
  color: #333;
}

.card-text-black {
  color: white;
}

/* Footer Section Styles */
.site-footer {
  padding: 40px 0;
  color: white;
  background-color: black; 
}

.social-icon {
  max-width: 50px;
  margin-right: 20px;
  color: white;
}
.profesional {
  display: flex;
  justify-content: center;
  width: auto;
  height: 200px;
  background-color: #4d4d4d;
}

.social-icon-about {
  max-width: 80px;
  margin-right: 20px;
  color: white;
  background-color: #333;
  border: 2pt solid rgb(213, 166, 79);
  box-shadow: 3px 1px 20px 10px rgba(14, 216, 179, 0.673);
  margin-top: 30px;
  display: inline-block; /* Display icons inline */
  vertical-align: middle; /* Align icons vertically */
}

.top-btn-position {
  position: inherit;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 2px solid #333;
  border-color: #fff;
  color: #333;
  cursor: pointer;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1200px) {
  /* Adjust styles for large screens */
  .navbar {
    margin-bottom: 50px;
  }
  /* Add more styles for large screens as needed */
}

@media (max-width: 992px) {
  /* Adjust styles for medium screens */
  .navbar {
    margin-bottom: 30px;
  }
  /* Add more styles for medium screens as needed */
}

@media (max-width: 768px) {
  /* Adjust styles for small screens */
  .nav-link {
    margin-right: 10px;
    font-size: 16px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-subtitle {
    font-size: 20px;
  }

  .dev-icon {
    max-width: 80px;
  }

  .education-title {
    font-size: 28px;
  }

  .education-icon {
    max-width: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  /* Adjust styles for mobile screens */
  .nav-link {
    margin-right: 5px;
    font-size: 14px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-subtitle {
    font-size: 18px;
  }

}

